openapi: 3.1.0
info:
  title: Paragon ActionKit Credentials API
  description: ActionKit is an API to give your AI agent or app access to Paragon's catalog of pre-built Integration Tools across 130+ SaaS applications. ActionKit exposes a Universal API (Tools API) for listing and executing synchronous CRUD actions, and is paired with a Triggers API for event subscriptions. Paragon also publishes an MCP server (github.com/useparagon/paragon-mcp) that wraps ActionKit so agents can call integration tools via the Model Context Protocol. Requests are scoped to a Connected User via Paragon User Token (JWT) Bearer authentication.
  version: 1.0.0
  contact:
    name: Paragon
    url: https://www.useparagon.com
  license:
    name: Proprietary
    url: https://www.useparagon.com/terms-of-service
servers:
- url: https://actionkit.useparagon.com
  description: Paragon ActionKit API (Cloud)
security:
- bearerAuth: []
tags:
- name: Credentials
  description: Manage user Connect credentials.
paths:
  /projects/{projectId}/sdk/credentials:
    get:
      operationId: getCredentials
      summary: Paragon Get user credentials
      description: Returns the Connect credentials for the authenticated Connected User.
      tags:
      - Credentials
      parameters:
      - name: projectId
        in: path
        required: true
        description: Your Paragon Project ID.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved credentials.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Credential'
        '401':
          description: Unauthorized. Invalid or missing Paragon User Token.
  /projects/{projectId}/sdk/credentials/{credentialId}:
    patch:
      operationId: updateCredential
      summary: Paragon Update a credential
      description: Updates a specific Connect credential for the authenticated Connected User.
      tags:
      - Credentials
      parameters:
      - name: projectId
        in: path
        required: true
        description: Your Paragon Project ID.
        schema:
          type: string
      - name: credentialId
        in: path
        required: true
        description: The ID of the Connect credential to update.
        schema:
          type: string
      requestBody:
        required: true
        description: The credential fields to update.
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                  description: The new access token value.
                refreshToken:
                  type: string
                  description: The new refresh token value.
      responses:
        '200':
          description: Successfully updated the credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        '401':
          description: Unauthorized. Invalid or missing Paragon User Token.
        '404':
          description: Credential not found.
components:
  schemas:
    Credential:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the credential.
        integrationId:
          type: string
          description: The integration this credential belongs to.
        status:
          type: string
          description: The current status of the credential.
          enum:
          - VALID
          - INVALID
          - EXPIRED
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Paragon User Token. A signed JWT token used to authenticate a Connected User.
