openapi: 3.1.0
info:
  title: Paragon ActionKit Credentials Integrations API
  description: ActionKit is an API to give your AI agent or app access to Paragon's catalog of pre-built Integration Tools across 130+ SaaS applications. ActionKit exposes a Universal API (Tools API) for listing and executing synchronous CRUD actions, and is paired with a Triggers API for event subscriptions. Paragon also publishes an MCP server (github.com/useparagon/paragon-mcp) that wraps ActionKit so agents can call integration tools via the Model Context Protocol. Requests are scoped to a Connected User via Paragon User Token (JWT) Bearer authentication.
  version: 1.0.0
  contact:
    name: Paragon
    url: https://www.useparagon.com
  license:
    name: Proprietary
    url: https://www.useparagon.com/terms-of-service
servers:
- url: https://actionkit.useparagon.com
  description: Paragon ActionKit API (Cloud)
security:
- bearerAuth: []
tags:
- name: Integrations
  description: Query and manage user integrations.
paths:
  /projects/{projectId}/sdk/integrations:
    get:
      operationId: getIntegrations
      summary: Paragon Get project integrations
      description: Returns the list of integrations available in the project, including their enabled status for the authenticated Connected User.
      tags:
      - Integrations
      parameters:
      - name: projectId
        in: path
        required: true
        description: Your Paragon Project ID.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved integrations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Integration'
        '401':
          description: Unauthorized. Invalid or missing Paragon User Token.
  /projects/{projectId}/sdk/integrations/{integrationId}:
    delete:
      operationId: disconnectIntegration
      summary: Paragon Disconnect an integration
      description: Disconnects an integration for the authenticated Connected User. When an integration is disconnected, workflows for that integration will stop running for the user and any saved User Settings will be cleared. Equivalent to the SDK function paragon.uninstallIntegration().
      tags:
      - Integrations
      parameters:
      - name: projectId
        in: path
        required: true
        description: Your Paragon Project ID.
        schema:
          type: string
      - name: integrationId
        in: path
        required: true
        description: The ID of the integration to disconnect.
        schema:
          type: string
      responses:
        '200':
          description: Successfully disconnected the integration.
        '401':
          description: Unauthorized. Invalid or missing Paragon User Token.
        '404':
          description: Integration not found.
components:
  schemas:
    Integration:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the integration.
        name:
          type: string
          description: The display name of the integration.
        type:
          type: string
          description: The integration type identifier (e.g., salesforce, hubspot).
        enabled:
          type: boolean
          description: Whether the integration is enabled for the authenticated user.
        icon:
          type: string
          description: URL to the integration icon.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Paragon User Token. A signed JWT token used to authenticate a Connected User.
