openapi: 3.1.0
info:
  title: Paragon ActionKit Credentials Users API
  description: ActionKit is an API to give your AI agent or app access to Paragon's catalog of pre-built Integration Tools across 130+ SaaS applications. ActionKit exposes a Universal API (Tools API) for listing and executing synchronous CRUD actions, and is paired with a Triggers API for event subscriptions. Paragon also publishes an MCP server (github.com/useparagon/paragon-mcp) that wraps ActionKit so agents can call integration tools via the Model Context Protocol. Requests are scoped to a Connected User via Paragon User Token (JWT) Bearer authentication.
  version: 1.0.0
  contact:
    name: Paragon
    url: https://www.useparagon.com
  license:
    name: Proprietary
    url: https://www.useparagon.com/terms-of-service
servers:
- url: https://actionkit.useparagon.com
  description: Paragon ActionKit API (Cloud)
security:
- bearerAuth: []
tags:
- name: Users
  description: Manage Connected User details and metadata.
paths:
  /projects/{projectId}/sdk/me:
    get:
      operationId: getUser
      summary: Paragon Get current user
      description: Returns the authenticated Connected User's details, including their user ID, authentication status, enabled integrations, and associated metadata. Equivalent to the SDK function paragon.getUser().
      tags:
      - Users
      parameters:
      - name: projectId
        in: path
        required: true
        description: Your Paragon Project ID.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved user details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized. Invalid or missing Paragon User Token.
    patch:
      operationId: updateUser
      summary: Paragon Update user metadata
      description: Updates the authenticated Connected User's metadata. You can associate arbitrary key-value metadata with a Connected User. Equivalent to the SDK function paragon.setMetadata().
      tags:
      - Users
      parameters:
      - name: projectId
        in: path
        required: true
        description: Your Paragon Project ID.
        schema:
          type: string
      requestBody:
        required: true
        description: The metadata to set on the Connected User.
        content:
          application/json:
            schema:
              type: object
              properties:
                meta:
                  type: object
                  description: Key-value pairs of metadata to associate with the Connected User.
                  additionalProperties:
                    type: string
                  example:
                    Email: user@example.com
                    Plan: enterprise
      responses:
        '200':
          description: Successfully updated user metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized. Invalid or missing Paragon User Token.
components:
  schemas:
    UserIntegration:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the integration is enabled for this user.
        credentialStatus:
          type: string
          description: The status of the integration credential.
          enum:
          - VALID
          - INVALID
          - EXPIRED
        providerId:
          type: string
          description: The provider-specific user ID.
    User:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the Connected User.
        meta:
          type: object
          description: Metadata associated with the Connected User.
          additionalProperties:
            type: string
        authenticated:
          type: boolean
          description: Whether the user is currently authenticated.
        integrations:
          type: object
          description: A map of integration types to their status for this user.
          additionalProperties:
            $ref: '#/components/schemas/UserIntegration'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Paragon User Token. A signed JWT token used to authenticate a Connected User.
